<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @elf.name %></h1>
    <p>
      You have your duties you know!
    </p>
    <p>
      Wake up!
    </p>
    <p>
      Get back to work and bring happiness to all children of the world!
    </p>
  </body>
</html>
